.App {
  text-align: center;
}

.mainTitle {
  font-size: x-large;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: -1%;
  margin-top: -2%;
  color: rgb(101, 123, 223);
}

.mainTitle a {
  text-decoration: none;
}
.mainTitle a:visited {
  text-decoration: none;
  color: rgb(243, 187, 138)
}

.navBar {
  background-color: rgb(255, 255, 255);
  width: 100%;
  text-align: right;
  border-bottom: solid;
  border-width: 1px;
  border-style: outset;
}

.navBar li {
  display: inline;
  color: white;
  text-align: center;
  padding-left: 1%;
  padding-right: 1%;
  text-decoration: none;
}

.navBar li:first-of-type {
  float: left;
  font-size: large;
}

.navBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: right;
  overflow: hidden;
  padding-bottom: 1%;
  margin-top: 1%;
  font-family: 'Montserrat', sans-serif;
}

.navBar a:hover {
  color: rgb(167, 167, 167)
}


.navBar a {
  text-decoration: none;
  color: black
}