.App {
  text-align: center;
}

.mainTitle {
  font-size: x-large;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: -1%;
  margin-top: -2%;
  color: rgb(101, 123, 223);
}

.mainTitle a {
  text-decoration: none;
}
.mainTitle a:visited {
  text-decoration: none;
  color: rgb(243, 187, 138)
}

.navBar {
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  width: 100%;
  text-decoration: none;
  text-align: center;
  border-bottom: solid;
  border-top: solid;
  border-width: 1px;
  border-color: rgb(136, 136, 136);
}

.navBar ul {
  justify-content: space-evenly;
  font-size: large;
  display: flex;
  width: 100%;
  margin: auto;
  padding: 1%;
  padding-bottom: 1%;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

.navBar a {
  text-decoration: none;
  color: black
}