.App {
  text-align: center;
  height: 130%;
  width: 100%;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  background: linear-gradient(150deg, #fa0f37ca, #ff792063, #fd7a00ab, #fbbb45b6, #ff674ca6, #f865388a, #ac45017e, #ffa60078, #ffa73486);
  background-size: 1800% 1800%;
  overflow-y: scroll;
  -webkit-animation: rainbow 19s ease infinite;
  -z-animation: rainbow 9s ease-in-out infinite;
  -o-animation: rainbow 20s ease infinite;
    animation: rainbow 20s ease infinite;
}

@-webkit-keyframes rainbow {
  0%{background-position:0% 82%}
  50%{background-position:100% 60%}
  100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}
@keyframes rainbow { 
  0%{background-position:0% 82%}
  50%{background-position:100% 60%}
  100%{background-position:0% 82%}
}

/* LANDING PAGE */

.landingImage {
  margin-left: 12%;
  position: absolute;
}

.landingButton {
  margin-top: 22%;
  margin-left: -4%;
  height: 8%;
  width: 15%;
  opacity: .7;
  background-color: rgba(24,24,24, 0.924);
  color: white;
  position: absolute;
  border-radius: 5px;
}

.landingPage button:hover {
  background-color: rgb(228, 228, 228);
  color: rgb(67, 67, 67);
  font-weight: bold;
}



/* NAV BAR */

.navBar {
  width: 100%;
  text-align: right;
  padding-top: 1%;
  top: 0;
  background-color: rgba(255, 255, 255, 0);
  /* box-shadow: 30px 5px 25px rgba(255, 209, 83, 0.397); */
}

.navBar li:first-of-type {
  float: left;
  font-size: x-large;
  padding-left: 2%;
  color: rgba(255, 255, 255, 0.801);
  text-shadow: 0px 0px 4px #ffffff;
  font-family: 'Rock Salt', cursive;
  margin-bottom: -1%;
}

.navBar li {
  display: inline;
  color: white;
  text-align: center;
  padding-left: 1%;
  padding-right: 1%;
  text-decoration: none;
}

.navBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: right;
  overflow: hidden;
  padding-bottom: 1%;
  padding-right: 1%;
  margin-top: 1%;
  font-family: 'Lato', sans-serif;
}

.navBar a:hover {
  text-shadow:0px 0px 2px #ffffffd5;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.856);
}


.navBar a {
  text-decoration: none;
  color: black;
}


/* LOGIN FORM / LOGIN */

.loginForm input {
  display: block;
  margin: auto;
}

.loginForm button {
  display: block;
  margin: auto;
  box-shadow: 0px 0px 3px black;
}

.loginModalBody {
  margin: auto;
  font-family: 'Lato', sans-serif;
}

.loginModalBody p {
  margin-top: 5%;
  margin-bottom: -2%;
  font-family: 'Lato', sans-serif;
}

/* SIGNUP FORM / SIGNUP */

.signupForm input {
  display: block;
  margin: auto;
}

.signupForm button {
  display: block;
  margin: auto;
  box-shadow: 0px 0px 3px black;
}

/* CREATE BEVERAGE /  BEVERAGE FORM PAGE */

.createBeveragePage h2 {
  margin-top: 1%;
  text-shadow: 0px 0px 3px #ffffff;
  font-family: 'Lato', sans-serif;
}

.beverageCreateForm {
  padding-bottom: 5%;
  font-family: 'Lato', sans-serif;
}

.beverageCreateForm p {
  font-size: medium;
  font-family: 'Lato', sans-serif;
}

.beverageCreateForm input {
  display: block;
  margin: 4% auto;
  margin-top: -1%;
}

.beverageCreateForm button {
  display: block;
  margin: auto;
  font-family: 'Lato', sans-serif;
}

.beverageCreateForm button:last-of-type {
  box-shadow: 0px 0px 8px black;
}

.createBevModal {
  width: 40%;
  margin: auto;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.671);
  border: rgb(255, 255, 255);
  border-width: 1px;
  border-style: solid;
  font-family: 'Lato', sans-serif;
}

.createBevFormModal {
  margin: auto;
  text-align: center;
  font-family: 'Lato', sans-serif;
  
}

.createBevFormModal form {
  margin: auto;
  font-family: 'Lato', sans-serif;
}

/* BEVERAGE INSTRUCTIONS / CREATE YOUR OWN */

.beverageInstructionsPage {
  font-family: 'Lato', sans-serif;
}

.beverageCardsList {
  display: flex;
  width: 90%;
  height: 90%;
  margin: auto;
  margin-bottom: 3%;
}

.instructionsCard {
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.671);
  width: 25%;
  padding: 1%;
  margin: 1%;
  font-size: medium;
  background-color: rgba(235, 235, 235, .6);
  border-radius: 5px;
  transition: 0.3s;
  font-family: 'Lato', sans-serif;
}

.instructionsCard p:last-of-type {
  padding-bottom: 10%;
  font-size: small;
  border-bottom: solid rgb(194, 194, 194) 1px;
}

.instructionsCard img {
  height: 50%;
  width: 60%;
  padding-bottom: 10%;
  margin-bottom: 3%;
  margin-top: 3%;
 
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px); } }
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0); }
  40% {
    -moz-transform: translateY(-30px); }
  60% {
    -moz-transform: translateY(-15px); } }
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
    transform: translateY(-15px); } }

.instructionsCard:hover {
  transform: scale(1.05);
  border-radius: 10px;
  box-shadow: 0px 0px 11px rgb(255, 255, 255);
  transition: all .2s ease-in-out;
}

.beverageInstructionsButton {
  width: 40%;
  padding: 2%;
  margin: auto;
  background-color: rgba(235, 235, 235, .6);
  margin-bottom: 7%;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.671);;
}

.beverageInstructionsButton p {
  margin-bottom: -1%;
}

.beverageInstructionsButton button {
  box-shadow: 0px 0px 6px rgb(60, 175, 156);
  margin-bottom: 3%;
  padding: 15px;
  border-radius: 50px;
  border: none;
  color: white;
  font-weight: bold;
  transition: 0.8s;
  background-color: rgba(110, 197, 183, 0.719);
  
}

.beverageInstructionsButton button:hover {
  transition: all .3s ease-in-out;
  transform: scale(1.1);
  box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.623);

}


/* BEVERAGES DISPLAY PAGE */

.beveragesPage h3 {
  margin-bottom: 2%;
  margin-top: 1%;
  text-shadow: 0px 0px 3px #fafafac5;
}

.featuredBeveragesContainer {
    height: 20%;
}

.featuredBeverageCard {
}

.carousel {
  margin: auto;
  width: 50%;
}

.beveragesPage {
  margin: auto;
  font-family: 'Lato', sans-serif;
}

.beveragesList {
  display: flex;
  overflow: auto;
  flex-wrap: nowrap;
  padding-bottom: 3%;
  margin: auto;
  margin-top: 3%;
  width: 100%;
  padding: 10px;
  transform: translate3d(0, 0, 0);
  
}

.beveragesList > div {
  animation: moveSlideshow-2 100s linear infinite;
}

.beveragesList:hover {
  animation-play-state: paused;
}

.featuredBeveragesContainer {
  height: 401px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.slideshowScroll img {
  margin-left: 2%;
}

.featuredBeveragesContainer > div {
  height: 200px;
  width: 6026px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translate3d(0, 0, 0);
}
.featuredBeveragesContainer .slideshowScroll {
  animation: moveSlideshow 50s linear infinite;
}


@keyframes moveSlideshow {
  100% { 
    transform: translateX(-66.6666%);  
  }
}

@keyframes moveSlideshow-2 {
  100% { 
    transform: translateX(-66.6666%);  
  }
}

/* BEVERAGE CARDS */

.beverageCard {
  height: 85%;
  width: 72%;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.671);
  transition: 0.3s;
  margin: auto;
  margin-right: 6%;
  overflow-y: auto;
  padding: 30px;
  margin-bottom: 2%;
  font-family: 'Lato', sans-serif;
  
}

.beverageCard h2 {
  font-size: x-large;
  margin-bottom: 4%;
  font-family: 'Lato', sans-serif;
}

.beverageCard:hover {
  transform: scale(1.05);
  border-radius: 10px;
  transition: all .3s ease-in-out;
}

.bevCardLeft {
  width: 40%;
  text-align: left;
  margin-left: 6%;
}

.bevCardLeft h2 {
  margin-bottom: 15%;
  font-family: 'Rock Salt', cursive;
  
}

.bevCardRight {
width: 60%;
display: flex;
flex-direction: column;
font-family: 'Lato', sans-serif;
}

.bevCardRight button:first-of-type {
  margin-top: 13%;
  /* background-color: rgba(255, 255, 255, 0.602);
  padding: 10px;
  border-radius: 50px;
  border: none;
  color: rgba(110, 197, 183, 0.719);
  font-weight: bold; */
}

.bevCardRight button {
  width: 60%;
  margin: auto;
  padding: 7px;
  border-radius: 50px;
  border: none;
  color: white;
  font-weight: bold;
  transition: 0.8s;
  background-color: rgba(110, 197, 183, 0.719);
  box-shadow: 0px 0px 3px rgb(83, 168, 123);
}

.bevCardRight button:hover {
  background-color: rgba(255, 255, 255, 0.602);
  color: rgba(110, 197, 183, 0.719);
  box-shadow: 0px 0px 7px rgba(110, 197, 183, 0.719);
}

/* .bevCardRight button:first-of-type:hover {
  background-color: rgba(110, 197, 183, 0.719);
  color: rgba(255, 255, 255, 0.582);
} */

.favoriteStar {
  margin-left: auto;
  height: 15%;
  width: 9%;
  transition: 0.3s;
  color: rgb(255, 173, 41);
}

.favoriteStar:hover {
  cursor: pointer;
  transform: scale(1.3);
  border-radius: 10px;
  color: rgb(250, 140, 67);
  transition: all .2s ease-in-out;
}

/* ACCOUNT PAGE / USER PROFILE */

.accountPage {
  font-family: 'Lato', sans-serif;
}

.accountPage h2 {
 margin-top: 1%;
}

.accountPageContainer {
  width: 80%;
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-bottom: 5%;
  margin-top: 2%;
  border-radius: 5px;
  padding: 5px;
  overflow-y: scroll;
  background-color: rgba(235, 235, 235, .5);
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.671);;
  font-family: 'Lato', sans-serif;
}

.accountPageLeft {
padding: 5px;
text-align: left;
width: 30%;
margin-right: -15%;
}

.accountDetails {
  padding: 60px;
  width: 100%;
  margin-top: 14%;
  margin-left: 12%;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.671);
  font-family: 'Lato', sans-serif;
}

.accountPageLeft button {
  display: block;
  margin-top: 12px;
  width: 100%;
  padding: 10px;
  border-radius: 50px;
  border: none;
  color: white;
  font-weight: bold;
  transition: 0.8s;
  outline-color: white;
  background-color: rgba(110, 197, 183, 0.719);
  box-shadow: 0px 0px 3px rgb(83, 168, 123);
}

.accountPageLeft button:hover {
  background-color: rgba(255, 255, 255, 0.602);
  color: rgba(110, 197, 183, 0.719);
  box-shadow: 0px 0px 7px rgba(110, 197, 183, 0.719);
}

.accountDetails p {
  margin-bottom: 20%;
}

.accountDetails h3 {
  margin-top: -10%;
  font-family: 'Lato', sans-serif;
}

.accountPageRight {
  padding: 5px;
  padding-bottom: 10px;
  margin: auto;
  margin-bottom: 2%;
  margin-left: 12%;
  width: 75%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  font-family: 'Lato', sans-serif;
}

.accountPageRight h3 {
  margin-bottom: 2%;
  margin-left: -20%;
}

/* CART MODAL */

.cartModal {
  font-family: 'Lato', sans-serif;
}


/* CREATE REVIEW MODAL */

.reviewModalForm {
  display: block;
  margin: auto;
  text-align: center;
  font-family: 'Lato', sans-serif;;
}

.reviewModalForm form {
  margin: auto;
 font-family: 'Lato', sans-serif;
}

.reviewModalForm p {
  margin-bottom: -1%;
  padding-bottom: 2%;
 font-family: 'Lato', sans-serif;
}

.reviewModalForm input {
  display: block;
  margin: auto;
  margin-bottom: 2%;
}

.reviewModalForm input:first-of-type {
  width: 80%;
  padding: 12px
}

.reviewModalForm select {
  width: 10%;
  margin-bottom: 2%;
}

.reviewCreateForm button{
  margin-top: 2%;
  display: block;
  margin: auto;
  font-weight: bold;
}

/* READ REVIEW POPOUT MODAL */

.reviewCard {
  text-align: left;
  border-bottom: solid rgb(182, 182, 182) 1px;
  padding: 2%;
  margin-bottom: 2%;
  overflow: auto;
 font-family: 'Lato', sans-serif;
}

.reviewCard p {
  margin-bottom: 3%;
  padding: 1%;
 font-family: 'Lato', sans-serif;
}

/* CART ITEM CARD */

.cartItemCard {
  border-bottom: 1px solid grey;
  margin-bottom: 5%;
  width: 100%;
  display: flex;
  
}

.cartItemCard:hover {
  background-color: rgba(172, 172, 172, 0);
}

.cartItemCard:last-of-type {
  border-bottom: none;
  margin-bottom: -1%;
}

.cartItemCard p {
  margin-bottom: 4%;
  width: 100%;
}

.cartItemCard p:last-of-type {
  margin-bottom: 10%;
}

.cartItemCard button {
  margin-bottom: 4%;
}

.cartModalFooter p:first-of-type {
float: left;
margin-right: auto;
}

.cartItemCardRight {
  margin-left: auto;
}

/* PREVIOUS ORDERS  */

.orderModal {
  overflow-y: scroll;
}

.previousOrderCard button {
  height: 15%;
  padding: 4px;
  margin-left: 3%;
  border-radius: 10px;
  border: none;
  background-color: rgba(110, 197, 183, 0.719);
  box-shadow: 0px 0px 1px rgb(83, 168, 123);
}

.previousOrderList {
  margin: auto;
  display: flex;
  border-bottom: 1px solid rgba(160, 160, 160, 0.651);
  margin-top: 5%;
  
}

.previousOrderList p:first-of-type {
  margin-right: auto;
}

.previousOrderList p:last-of-type {
  margin-left: auto;
}